<Div class="card-content">
    <div class="card-img">
        <img src="https://play-lh.googleusercontent.com/6jG7zD38oXuSknR2IPDE7MbnvFHH04zPCVZyfM7kDdb6QAUPtbhRB3TGVAJOQXXA9NA=s200" alt="">
        <span style="margin: 0px 10px"><h4>{{destino.nombre}}</h4></span>
    </div>
    <div class="card-desc">
        <h3>{{destino.nombre}}</h3>
        <p>Lorem ipsum dolor sit amet consectetur, adipisicing elit. Laboriosam, valuptatum! Dolor quo, perspiciatis voluptas totam</p>
        <a href="#" class="btn-card">Read</a>
    </div>
</Div>

